

form {
    display: flex;
    flex-flow: column nowrap;
}

form .row {
    display: flex;
    justify-content: space-between;
    margin: 24px;
}

form input {
    width: 75%;
    height: 24px;
    box-sizing: border-box;

}

form textarea {
    width: 75%;
    height: 400px;
}
